ul {
    list-style-type: none;
}

div.container{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

@media (min-width: 1200px) {
    .container {
        width: 90%;
    }
}

div[class^=bord] {
    padding-top: 7px;
    padding-bottom: 7px;
    background: white;
    border: 5px solid aliceblue;
}

div[class^=col] {
    padding-top: 7px;
    padding-bottom: 7px;
    background: white;
    /*border: 5px solid aliceblue;*/
}

body{
    background: aliceblue;
}

div[class=href] {
    padding-top: 7px;
    padding-bottom: 7px;
    border: 5px solid aliceblue;
}