.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}
.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}
.datepicker > div {
    display: none;
}
.datepicker table {
    width: 100%;
    margin: 0;
}

.datepicker th {
    text-align: center;
    font-weight: 300;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker td{
    border-top: 1px solid #dddddd;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.datepicker tr:first-child td{
    border-top: 0;
}
.datepicker thead tr:first-child{
    height: 30px;
}
.datepicker td p{
    border-radius: 50%;
    height: 27px;
    line-height: 27px;
    margin: 3px 0 8px;
    width: 27px;
}
.datepicker th{
    font-size: 10px;
}
.datepicker td.day:hover p{
    background: #E5E5E5;
    color: #FFFFFF;
    cursor: pointer;
}
.datepicker td.day.disabled {
    color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
    /* color: #999999; */
    color: #DDDDDD;
    border-top: 0;
}
.datepicker td.active p,
.datepicker td.active:hover p{
    color: #ffffff;
    background-color: #FF3A2D;
}
.datepicker td.active.blue p,
.datepicker td.active.blue:hover p{
    background-color: #007aff;
}
.datepicker td.active.green p,
.datepicker td.active.green:hover p{
    background-color: #4cd964;
}
.datepicker td.active.black p,
.datepicker td.active.black:hover p{
    background-color: #4a4a4a;
}
.datepicker td.active.red p,
.datepicker td.active.red:hover p{
    background-color: #FF3A2D;
}

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
    color: #ffffff;

}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
    background-color: #003399 \9;
}
.datepicker td span {
    display: block;
    width: 47px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker td span:hover {
    background: #eeeeee;
}
.datepicker td span.active {
    color: #ffffff;
    background-color: #FF3A2D;

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
    color: #ffffff;
    background-color: #FF3A2D;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
    background-color: #003399 \9;
}
.datepicker td span.old {
    color: #999999;
}
.datepicker th.switch {
    font-size: 16px;
    width: 145px;

}

.datepicker.red th.switch{
    color: #ff3b30;
}
.datepicker th.next,
.datepicker th.prev {
    font-size: 33px;
}

.datepicker th.dow{
    font-weight: 400;
    padding: 5px 0;
}

.datepicker thead tr:first-child th {
    cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
    background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 0;
}
.datepicker-months .table-condensed > tbody > tr > td, .datepicker-years .table-condensed > tbody > tr > td{
    width: 210px;
}
.table-condensed p{
    padding: 0;
    line-height: 32px;
}