.btn-light {
    color: #003399;
}

body {
    background: aliceblue;
}

div[class^=col] {
    padding-top: 7px;
    padding-bottom: 7px;
    background: white;
    border: 5px solid aliceblue;
}

div[class=href] {
    padding-top: 7px;
    padding-bottom: 7px;
    border: 5px solid aliceblue;
}

ul {
    list-style-type: none;
}