p.error {
    color: red;
    text-align: center;
}

h1 {
    color: navy;
    text-align: center;
    text-transform: uppercase;
}

input[type=username], input[type=password] {
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: navy;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    width: 50%;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}