div[class^=col] {
    background: white;
}

.small {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.user {
    text-align: center;
    margin: 5%;
}

.user-row {
    margin-bottom: 1%;
}

.big {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

body {
    background: aliceblue;
}